#collapseTrigger{
    color:#fff;
    display: block;
    text-decoration: none;
}
#submitButton{
    white-space: normal;
}
#instructionBody table{
    font-size: 14px;
    margin-top: 10px;
}
#instructionBody table caption{
    text-align: left;
    padding: 0 0 5px 0;
}
#choice{
    display: block;
    margin-top: 10px;
}
.content{
    margin-bottom: 15px;
}
.question{
    margin-left: 15px;
    padding-left: 10px;
    border-left: double;
}
.radio:first-of-type{
    margin-top: -5px;
}

.ann {
    font-size: 20px;
}

.disp {
    font-size: 20px;
}

.ann > span.token {
    cursor: pointer;
}

.ann > span.token:hover {
    text-decoration: underline;
}

.ann > strong.annotation1:hover {
    text-decoration: line-through;
}

.ann > strong.annotation2:hover {
    text-decoration: line-through;
}

.ann > strong.annotation3:hover {
    text-decoration: line-through;
}

.ann > strong.annotation4:hover {
    text-decoration: line-through;
}

.ann > strong.annotation5:hover {
    text-decoration: line-through;
}

.ann > strong.annotation6:hover {
    text-decoration: line-through;
}

.ann > strong.annotation7:hover {
    text-decoration: line-through;
}

.ann > strong.annotation8:hover {
    text-decoration: line-through;
}

.annotation1 {
    font-weight: normal;
    background-color: #EAD379;
}

.annotation2 {
    font-weight: normal;
    background-color: #67BCDB;
}

.annotation3 {
    font-weight: normal;
    background-color: #B3DE69;
}

.annotation4 {
    font-weight: normal;
    background-color: #FCCDE5;
}

.annotation5 {
    font-weight: normal;
    background-color: #FFFFB3;
}

.annotation6 {
    font-weight: normal;
    background-color: #BEBADA;
}

.annotation7 {
    font-weight: normal;
    background-color: #80B1D3;
}

.annotation8 {
    font-weight: normal;
    background-color: #FDB462;
}

.btn-ann {
    font-size: 10px;
}

.btn-submit {
    width:100%;
    margin-top:10px;
}

input[disabled] {
    color: #000
}

.key-name1 {
    background-color: #EAD379;
}
.key-name2 {
    background-color: #67BCDB;
}
.key-name3 {
    background-color: #B3DE69;
}
.key-name4 {
    background-color: #FCCDE5;
}
.key-name5 {
    background-color: #FFFFB3;
}
.key-name6 {
    background-color: #BEBADA;
}
.key-name7 {
    background-color: #80B1D3;
}
.key-name8 {
    background-color: #FDB462;
}
